# Ignore R/RStudio files
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Ignore CSV files inside data folder, but allow the folder and README
data/*
!data/README.txt

# Ignore PowerPoint files but allow PDFs
*.pptx

# Allow these specific PDFs
!report/museum_analysis_report.pdf
!presentation/museum_financial_analysis_presentation.pdf

# Ignore temporary or system files
.DS_Store
Thumbs.db
